/* breakpoints */
$Mobile-width: 375px;
$Desktop-width: 1440px;
/* font size */
$Body-Homepage-Items: 14px;
$Body-Detail-Page: 16px;
/* font family */
$Font-family: "Nunito Sans", sans-serif;
/* font weights */
$font-family-Weight-300: 300;
$font-family-Weight-600: 600;
$font-family-Weight-800: 800;
/* colors */
// dark mode
$light-mode-background: hsl(0, 0%, 98%);
$dark-mode-background: hsl(207, 26%, 17%);

$dark-mode-element: hsl(209, 23%, 22%);
$light-mode-element: hsl(0, 0%, 100%);

$dark-mode-text: hsl(0, 0%, 100%);
$light-mode-text: hsl(200, 15%, 8%);

$light-mode-input-text: hsl(0, 0%, 52%);
$dark-mode-input-text: hsl(209, 23%, 22%);
:root {
  --background-color: #{$light-mode-background};
  --element-color: #{$light-mode-element};
  --input-text-color: #{$light-mode-input-text};
  --font-color: #{$light-mode-text};
  // --font-color: red;
}

body {
  font-family: $Font-family;
  font-size: $Body-Homepage-Items;
}

h1 {
  font-size: 1rem;
  font-weight: $font-family-Weight-800;
}

h2 {
  // font-size: 2rem;
  font-weight: $font-family-Weight-600;
}

h3 {
  // font-size: 2rem;
  font-weight: $font-family-Weight-300;
}

/* 
## Icons
- [Font Awesome](https://fontawesome.com)
*/
